# Scratch files/directories are for my rough notes, which I don't always want pushed. They can be indicated either by
# appending "(Scratch)" or "#" to the beginning of the file/directory name.
*/(Scratch)*
*/\#*
